.btn-login {
    margin-top: 4%;
    background-color: whitesmoke;
    color: #7047B9;
    font-weight: bold;
    border-radius: 9px;
    border: none;
    padding: 5px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}